.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.emailList::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 111;
}

.emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList__list {
    padding-bottom: 20%
}